<form action="/auth/login" method="post" class="margin">

  <label for="email">Email:</label>
  <input type="email" name="email" placeholder="partnerz@partnerz.com" />

  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="********" />
  <button>Log in</button>
</form>
<p>{{errorMessage}}</p>