<form action="/auth/login" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" />
  <label for="username">Password</label>
  <input type="password" name="password" />
  <button>Log in</button>
</form>
<p>{{errorMessage}}</p>