<form
  action="/auth/signup"
  method="post"
  class="margin"
  enctype="multipart/form-data"
>

  <label for="name">Name:</label>
  <input type="text" name="name" />

  <label for="birthday">Date of birth:</label>
  <input type="date" name="birthday" />

  <label for="email">Email:</label>
  <input type="email" name="email" />

  <label for="password">Password:</label>
  <input type="password" name="password" />

  <label for="profilePicture">Profile picture</label>
  <input type="file" name="profilePicture" id="profilePicture" />

  <button>Sign up</button>
</form>
<p>{{errorMessage}}</p>