.discussions {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

#top {
  width: 80%;
  margin-top: 3rem;
  background-color: lightgrey;
  height: 0.8px;
  border: 0;
}

.conversation {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;

  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  cursor: pointer;

}

#conv {
  color: #5c5c5c;
  font-weight: 300;
  font-size: 0.9rem;
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.details {
  margin-left: 0.7rem;
  width: 70%;
}
.name {
  font-weight: 700;
  text-transform: capitalize;
}

.separator {
  width: 80%;
  background-color: lightgrey;
  height: 0.8px;
  border: 0;
}

#id {
  display: none;
}

#empty-message {
  margin: 6% 0;
  color: var(--customblack);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  display: none;
}

#find-activities {
  margin-top: 1rem;
}

#find-activities a {
  color: var(--customprimary);
  text-decoration: none;
}