.discussions {
    margin: 2rem;
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14vh;
  
}

#top{
    width: 80%;
    margin-top: 3rem;
   
}

.conversation{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-top:1rem;
    margin-bottom: 1rem
}

img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.details {
    margin-left:0.7rem;
    margin-top: 1rem;
    
}
.name{
    font-weight: 700;
    text-transform: capitalize;
}

.separator{
    width: 80%;
 
}