<div id="home" class="margin">

  <img src="/images/home/home-cover.png" alt="" />

  <h1>Meet your adventure partner now</h1>

  <p>Thanks to
    <span>Partnerz</span>, discover new places based on your tastes and hang out
    with new people! Nothing can stop you. Start enjoying each moment doing
    whatever you love.
  </p>

  <p>Thousands of parners are looking for someone to share a moment with. Find
    yours today!</p>

  <div id="get-started">Get started &nbsp; &nbsp;
        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.25923 11.2102L6.23651 10.1989L9.78764 6.64773H0.867188V5.17045H9.78764L6.23651 1.625L7.25923 0.607954L12.5604 5.90909L7.25923 11.2102Z" fill="white"/>
</svg></div>

</div>