<div class="hbs">

  <h2>Tell us what you like the most.</h2>
  <p>Select 2 to 5 tags</p>

  <div id="tags"></div>
  <form action="/interests" method="post">
    <input type="hidden" name="tags" value="" id="input-tags" />

    <div id="button">
      <button><svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.44629 9.85376C1.61786 9.85376 0.946289 10.5253 0.946289 11.3538C0.946289 12.1822 1.61786 12.8538 2.44629 12.8538V9.85376ZM22.6277 12.4144C23.2135 11.8286 23.2135 10.8789 22.6277 10.2931L13.0818 0.747158C12.496 0.161372 11.5463 0.161372 10.9605 0.747158C10.3747 1.33294 10.3747 2.28269 10.9605 2.86848L19.4458 11.3538L10.9605 19.839C10.3747 20.4248 10.3747 21.3746 10.9605 21.9604C11.5463 22.5461 12.496 22.5461 13.0818 21.9604L22.6277 12.4144ZM2.44629 12.8538H21.5671V9.85376H2.44629V12.8538Z"
            fill="white"></path>
        </svg></button>
    </div>
  </form>

</div>