#activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

h2 {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 6%;
  color: var(--customblack);
}

.activity-card {
  margin: 8%;
  display: flex;
  flex-direction: column;
}

#image {
  position: relative;
}

#image > img:first-of-type {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8%;
  align-self: center;
  cursor: pointer;
}

#image > img:last-of-type {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 8%;
  height: 8%;
}

.activity-card p {
  margin: 0 0 0 3%;
  font-size: 0.8rem;
}

.activity-card > p:first-of-type {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 3%;
}

#tags {
  margin: 2% 0 0 3%;
  display: flex;
}

#tags span {
  font-size: 0.8rem;
  margin: 0 0.3rem 0 0;
  color: var(--customprimary);
  font-weight: 500;
  padding: 0.3rem 1rem;
  border: 0.15rem solid var(--customprimary);
  border-radius: 0.3rem;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

#button {
  cursor: pointer;
  margin-bottom: 2rem;
}

#match-percentage p {
  font-size: 0.8rem;
  margin: 1.5% 0 0 3%;
  color: var(--customprimary);
  font-weight: 500;
}

#card-id {
  display: none;
}
