h2 {
  margin-top: 16vh;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

p {
  text-align: center;
}

#tags {
  margin: 7vh auto 1.5rem auto;
  /* width: 85%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  /* flex: 2 1 fit-content; */
  flex: 3 3 auto;
  border: solid 2.5px #ff005c;
  border-radius: 0.3rem;
  margin: 0.2rem;
  padding: 0.2rem 0.5rem;
}

.tag-activity {
  /* a enlever */
  font-family: arial;
  /* a enlever */
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #ff005c;
  text-transform: uppercase;
}

.tag-selected {
  background-color: #ff005c;
}

.tag-selected .tag-activity {
  color: white;
}

button {
  border-radius: 100%;
  width: 2.8rem;
  height: 2.8rem;
  border: none;
  background-color: var(--customprimary);
}

#button {
  display: flex;
  justify-content: right;
}

.hbs {
  width: 85%;
  margin: auto;
}
