@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --customprimary: #ff005c;
  --customblack: #1a1a1a;
}

* {
  margin: 0vw;
  padding: 0vw;
  background-color: white;
  font-family: Inter;
}

header {
  height: 6rem;
  /* background-color: wheat; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-nav {
  height: 2rem;
  width: 2rem;
  background: center / contain no-repeat url("/images/home/logo-nav.png");
  margin: 3rem;
}

#hamburger {
  height: 2rem;
  width: 2rem;
  background: center / contain no-repeat url("/images/home/hamburger.png");
  margin: 3rem;
}

#convo {
  display: flex;
  flex-direction: column;
}

#convo form {
  align-self: center;
  margin: 3vw;
}

.talker {
  align-self: flex-end;
  margin: 0.5vw 30vw 0.5vw 0vw;
  width: 30vw;
  padding: 1vw;
  color: rgb(255, 236, 246);
  background-color: rgb(237, 41, 90);
  border-radius: 2vw;
}

.talkee {
  align-self: flex-start;
  margin: 0.5vw 0vw 0.5vw 30vw;
  min-width: 30vw;
  width: 30vw;
  padding: 1vw;
  color: #222;
  background-color: rgb(224, 224, 224);
  border-radius: 2vw;
}
