@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --customprimary: #ff005c;
  --customblack: #1a1a1a;
  --customgrey: #d9d9d944;
}

* {
  margin: 0;
  padding: 0;
  /* background-color: white; */
  font-family: Inter;
}

/* NAV BAR */

header {
  height: 6rem;
  background-color: white;
  opacity: 0.96;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}
.list-unstyled #rose {
  color: var(--customprimary);
}

#logo-nav {
  height: 2rem;
  width: 2.5rem;
  background: center / contain no-repeat url("/images/logos/logo.svg");
  margin: 3rem;
  cursor: pointer;
}

#burger {
  margin: 3rem;
  width: 23px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--customprimary);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#burger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger span:nth-child(2) {
  top: 5px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger span:nth-child(3) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 0px;
}

#burger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
  left: 0px;
}

#convo {
  display: flex;
  flex-direction: column;
}

#convo form {
  align-self: center;
  margin: 3%;
}

header ul li {
  list-style-type: none;
  padding: 10px;
}

header li > a {
  text-decoration: none;
  color: black;
}

.right ul {
  position: absolute;
  transform: scaleY(0);
  transform-origin: center top;
  transition: all 0.3s ease;
  top: 3.8rem;
  right: 1.4rem;
}

.right ul.open {
  transform: scaleY(1);
}

.margin {
  margin-top: 10rem;
}

.list-unstyled {
  background-color: white;
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 12px;
  box-shadow: 0px 0px 8px rgba(105, 104, 104, 0.25);
}

@media (min-width: 438px) {
  body {
    background-color: #3a3b3e;
  }

  #overwrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }

  #wrapper {
    height: 850px;
    min-height: 850px;
    aspect-ratio: 438/886;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 0.5rem black);
  }

  #phone-wrapper {
    width: 100%;
    height: 100%;
    aspect-ratio: 438/886;
    position: absolute;
    background: no-repeat center / contain url("/images/home/device.png");
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 102;
    pointer-events: none;
  }

  #screen {
    height: 95%;
    /* max-width: 100%; */
    aspect-ratio: 390/844;
    overflow: scroll;
    background-color: white;

    /* background-color: red; */
  }
}
