img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;

}

.profile {
  margin-top: 16vh;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.name {
  margin-top: 3%;
  font-weight: 600;
  margin-left: 5%;
  font-size: 25px;
}

#bio {
  height: 9rem;
  width: 100%;
  margin-top: 2%;
}

textarea {
  border-style: none;
  padding-left: 2%;
  background-color: var(--customgrey);
  border-radius: 1rem;
  overflow: hidden;
  resize: none;
  padding-top: 4%;
  
}


#button {
  display: flex;
  justify-content: right;
}

.tags {
  margin-top: 2%;
  height: 5rem;
}
.update {
  margin-left: 20rem;
}

.updateImage {
  position: absolute;
  top: 13.2rem;
  left: 14rem;
}

.bottom {
  padding-top: 5%;
  margin-left: 6rem;
  text-align: start;
}

.buttonDeleate {
  position: absolute;
}

.buttonDeleate svg {
  width: 70%;
}

#deleate {
  color: #ff005c;
}

#action {
  color: grey;
  font-size: smaller;
  font-style: oblique;
}

#profilePicture {
  display: none;
}

button {
  background-color: var(--customprimary);
  padding: 0.5rem 0.5rem;
  border-radius: 2rem;
  color: white;
  font-size: 1.1rem;
  margin-left: 3rem;
  margin-top:1.5rem;
  cursor: pointer;
  width: 70%;
}

hr {
  margin-top: 2%;
}


#tags {
  margin: 1.5vh 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:stretch;

  
}

#tags span {
  font-size: 0.8rem;
  margin: 5 0.3rem 0 0;
  color: var(--customprimary);
  font-weight: 500;
  padding: 0.3rem 0.4rem;
  border: 0.15rem solid var(--customprimary);
  border-radius: 0.3rem;

}

#edit {
  position: absolute;
  right: 2rem;
  bottom: 10rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}