.profile {
  width:85vw;
  margin: 0 auto;
}

h2 {
  text-transform:capitalize;
  margin-bottom:1rem;
}

input {
  display:none;
}

.profile-pic-area {
  margin-top:6rem;
  height:11rem;
  display:flex;
  justify-content: center;
}

.profile-pic-area img {
    position:absolute;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

.profile-pic-area svg {
  position:relative;
  top: 7rem;
  left:3.5rem;
}

#bio {
  height: 12rem;
  width: 100%;
}

textarea {
  font-size:1rem;
  color:grey;
  border-style: none;
  padding-left: 2%;
  background-color: #f4f4f4;
  border-radius: 1rem;
  resize: none;
  padding-top: 4%;
  
}

.tags-area {
margin:0.5rem 0 2rem;

}
.tags-area .tags{

  margin: 1.5vh 0 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: inherit;
}

.tags-area .tags span {
  font-size: 1rem;
  margin: 5 0.3rem 0 0;
  color: var(--customprimary);
  font-weight: 500;
  padding: 0.3rem 0.4rem;
  border: 0.15rem solid var(--customprimary);
  border-radius: 0.3rem;

}

.tags-area label {
  position:relative;
  left:85%;
}

.button {
  display:flex;
  justify-content: center;
}
.button button {
  font-size:1rem;
  background-color:var(--customprimary);
  color:white;
  padding:0.8rem 2rem ;
  border:none;
  border-radius:5rem;
  margin-bottom:4rem;
}

.footer {
  position: absolute; 
  bottom: 1rem;
}

.footer hr {
  margin-bottom:1rem;
}

.delete-area {
  display:flex;
  flex-direction:row;
  align-items: center;

}

.delete-area #delete {
  color : var(--customprimary);
}

.delete-area #warning {
  color : grey;
}

#id{
  display: none;
}