#requests-received {
    display: flex;
    flex-direction: column;
    margin-top: 18vh;
    margin: 16vh 10vw 0 10vw;
  }

  h2 {
    font-size: 1.8rem;
    color: var(--customblack);
    font-weight: 600;
  }



#description{
    color: #5C5C5C;
    font-weight: 300;
    font-size: 0.9rem;
    margin: 2vh 0;
    margin-bottom: 3rem;
}


  a{
    color: #5C5C5C;
    font-weight: 300;
    font-size: 0.9rem;
    margin: 2vh 0;
    color: var(--customblack);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
  }