#requests-received {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8% 10% 0 10%;
}

h2 {
  font-size: 1.8rem;
  color: var(--customblack);
  font-weight: 600;
}

#description {
  text-align: center;
  color: #5c5c5c;
  font-weight: 300;
  font-size: 0.9rem;
  margin: 4% 0;
  margin-bottom: 2rem;
}

.request-card {
  margin: 8%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
}

#image {
  position: relative;
}

#bio {
  color: #5c5c5c;
  font-weight: 400;
  font-size: 0.9rem;
}

#image > img:first-of-type {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  border-radius: 2rem;
  align-self: center;
}

#card-bottom-container {
  display: flex;
  align-items: center;
}

#card-bottom-container > img {
  width: 25%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 3rem;
}

#card-info p {
  margin: 0 0 0 8%;
  font-size: 0.8rem;
}

#card-info > p:first-of-type {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 8%;
}

#tags {
  margin: 4% 0 8% 8%;
  display: flex;
}

#tags span {
  font-size: 0.8rem;
  margin: 0 0.3rem 0 0;
  color: var(--customprimary);
  font-weight: 500;
  padding: 0.3rem 0.5rem;
  border: 0.15rem solid var(--customprimary);
  border-radius: 0.3rem;
}

#empty-message {
  margin: 6% 0;
  color: var(--customblack);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  display: none;
}

#find-activities {
  margin-top: 1rem;
}

#find-activities a {
  color: var(--customprimary);
  text-decoration: none;
}

#card-id {
  display: none;
}

#card-info {
  width: 100%;
}