.image {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image img {
  flex-shrink: 0;
  width:100%;
  height: 30vh;
  object-fit:cover;
}

h3 {
    text-transform:capitalize;
}

.content {
  width: 85vw;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

#message {
    margin : 1rem 0;
    padding : 0.8rem ;
    border-radius:0.5rem;
    background-color:rgba(128, 128, 128, 0.12);
    color:rgb(104, 104, 104);
}

.activity-card {
    margin:2rem 0 2rem;
    display:flex;
    flex-direction:row;
    align-items:center;
}

.activity-card img {
    height : 7rem;
    width:7rem;
    object-fit: cover;
    border-radius:1rem;
    margin-right:1rem;
}

.activity-info {
    display:flex;
    flex-direction:column;
}

.description {
    color:grey;
}

.tags {
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: inherit;
}

.tags span {
  font-size: 0.8rem;
  text-align: center;
  margin: 0.3rem 0.3rem 0 0;
  color: var(--customprimary);
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  border: 0.15rem solid var(--customprimary);
  border-radius: 0.3rem;
}

.buttons {
    margin:3rem 0 2rem;
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:1rem;
}

#decline , #approve {
    width : 3rem;
    height : 3rem;
    background-color:var(--customprimary);
    border-radius:100%;
    border:none;
}
